soft-project/app/config/*
soft-project/.env
nginx_signing.key
notes.txt
soft-project/app/models/creds.js
soft-project/node_modules
SQLLogicNotes.txt
soft-project/app/models/custcreds.js
SQLscripts.txt
